In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("data_6.10.4.csv")

In [8]:
cols = ["I", "f0", "B0", "g"]
data.columns = cols;
data

             I              f0           B0              g
0  1.85 ± 0.01  9.805 ± 0.0005  230.0 ± 2.0  5.569 ± 0.048
1   2.0 ± 0.01    9.8 ± 0.0005  245.0 ± 2.0  5.226 ± 0.043
2  1.89 ± 0.01    9.8 ± 0.0005  230.0 ± 2.0  5.566 ± 0.048

In [13]:
f = lambda x: np.float(x.split()[0])
data2 = data.copy()

for col in cols:
    data2[col] = data2[col].map(f)
    
data2

      I     f0     B0      g
0  1.85  9.805  230.0  5.569
1  2.00  9.800  245.0  5.226
2  1.89  9.800  230.0  5.566

In [14]:
data2["I"]

0    1.85
1    2.00
2    1.89
Name: I, dtype: float64